@charset utf-8;
.btn{
	background-color: skyblue; 
	text-align: center;
	transition: 0.35s;
}
.btn:hover{
	background-color: white; 
	box-shadow: 0 0 5px #161616;
	 -webkit-box-reflect:below 0.5px linear-gradient(transparent, #0005);
	transition: 0.35s;
}
.hdr {
	text-align: center;
	font-size: 64px;
	font-family: "Calibri Light";
	text-shadow: 1px 1px 15px rgba(0,0,0,1.00);
		}
.imp {
	padding-top: 1%;
	text-align: center;

}
.expo {
	text-align: center;
	font-size: 128px;
	text-shadow: 2px 2px 4px rgba(0,0,0,1.00);
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
